* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1EBFC1;
    --white-color: #FFF;
    --black-color: #000;
    --head-color: #0D1111;
    --desc-color: #767E7E;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* =============== Common =============== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 0 16px;
    line-height: 68px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 14px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.heading {
    font-weight: 700;
    color: var(--head-color);
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    font-size: 2.2rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    word-break: break-all;
}

/* =============== Header =============== */
.header {
    background: var(--white-color);
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 0 8px;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 20px;
    font-size: 1.6rem;
    color: #2F3A3B;
}

.header .action-link:hover,
.nav a:hover,
.nav li.active a {
    color: #2F3A3B;
    text-shadow: 1px 0 0 currentColor;
}

.header .action-link {
    font-size: 1.6rem;
    color: #494949;
}

.header .sign-up-btn {
    min-width: 108px;
    margin-left: 24px;
    font-size: 1.6rem;
    line-height: 48px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--white-color);
}

.header .sign-up-btn:hover {
    color: var(--white-color);
    background: var(--primary-color);
}

/* =============== Hero =============== */
.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

/* Hero left */
.hero .content-block {
    width: 46%;
    padding: 93px 71px 0 0;
}

.hero .content-block .label {
    font-size: 1.4rem;
    color: var(--desc-color);
}

.hero .content-block .heading {
    margin-top: 18px;
}

.hero .content-block .desc {
    margin-top: 46px;
    max-width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9DA6A5;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .watch-video {
    display: flex;
    margin-left: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

/* Hero right */
.hero .meadia-block {
    position: relative;
    width: 54%;
    display: flex;
    margin-left: auto;
}

.hero .meadia-block .img-hero {
    width: 576px;
    height: 631px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: auto;
}

.hero .meadia-block .courses {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 149px;
    left: 12px;
    padding: 18px 25px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .courses .img-book {
    margin-right: 16px;
}

.hero .courses .title {
    color: var(--head-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

.hero .meadia-block .schedules {
    position: absolute;
    bottom: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
    width: 124px;
    height: 132px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: var(--white-color);
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .schedules .title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--head-color);
}

.hero .meadia-block .avatar-block {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    background: #FEFEFD;
    border-radius: 24px;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .avatar-block .title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--head-color);
}

.hero .avatar-block .avatar-group {
    display: flex;
    margin-top: 8px;
}

.hero .avatar-group .avatar:first-child {
    margin-left: 0;
}

.hero .avatar-group .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    object-fit: cover;
    margin-left: -8px;
    border-radius: 50%;
    /* avatar default */
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    color: var(--white-color);
}

/* =============== Features =============== */
.features {
    margin-top: 130px;
}

.features .sub-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 3px;
    color: var(--desc-color);
}

.features .feature-top {
    width: 591px;
}

.features .feature-top .heading {
    margin: 18px 0;
}

.features .feature-top .desc {
    font-size: 1.8rem;
    line-height: normal;
    color: var(--desc-color);
}

.features .feature-list {
    display: flex;
    gap: 200px;
    margin-top: 80px;
}

.features .feature-item {
    max-width: 224px;
}

.feature-item .title {
    margin: 26px 0 16px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--head-color);
}

.feature-item .desc {
    color: #9DA6A5;
    font-size: 1.6rem;
    line-height: 1.69;
}

/* =============== Popular Courses =============== */
.courses {
    padding: 130px 0 65px;
}

.courses .course-top .sub-title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 3px;
    color: var(--desc-color);
}

.courses .course-top .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .course-top .info .desc {
    max-width: 525px;
    margin-top: 19px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: var(--desc-color);
}

.courses .course-top .view-all {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration-line: underline;
    color: var(--primary-color);
}

.courses .course-list {
    display: flex;
    margin-top: 79px;
    gap: 47px;
}

.courses .course-item {
    position: relative;
    width: 33.33%;
}

.courses .course-item .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.65;
}

.courses .course-item .info {
    position: absolute;
    top: 322px;
    left: 17px;
    padding: 25px 25px 29px;
    width: 325px;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses .course-item .price {
    margin: 16px 0 10px;
    color: #767E7E;
    font-size: 1.6rem;
}

.courses .course-item .desc {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9DA6A5;
}

.courses .course-item .stat {
    display: flex;
    margin-top: 18px;
    gap: 26px;
}

.courses .course-item .stat .desc::before {
    content: "";
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 2px;
    width: 6px;
    height: 6px;
    background: #1EBFC1;
    border-radius: 50%;
}

/* =============== Quantity =============== */
.quantity {
    padding: 200px 0 65px;
}

.quantity .row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.quantity .qty-desc {
    font-size: 1.8rem;
    line-height: normal;
    color: var(--desc-color);
}

/* =============== Feedback =============== */
.feedback {
    padding: 199px 0 130px;
}

.feedback .body {
    display: flex;
    justify-content: space-between;
    height: 481px;
}

.feedback .feedback-content {
    width: 36%;
}

.feedback .feedback-content .open-quote {
    margin-top: 37px;
}

.feedback blockquote {
    margin-top: 27px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5D6564;
}

.feedback .user-name {
    margin: 33px 0 52px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #070707;
}

.feedback .user-name strong {
    color: var(--desc-color);
    font-size: 1.6rem;
}

.feedback .control {
    display: flex;
    gap: 30px;
    margin-bottom: 37px;
}

.feedback .btn-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 50%;
    background: transparent;
}

.feedback .btn-control:hover {
    color: var(--white-color);
    background: var(--primary-color);
    cursor: pointer;
}

.feedback .feedback-user {
    position: relative;
    width: 58%;
}

.feedback-user .avatar {
    width: 92px;
    height: 92px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-user img:nth-child(1) {
    position: absolute;
    width: 235px;
    height: 235px;
    top: 107px;
    right: 171px;
}

.feedback-user img:nth-child(1) {
    position: absolute;
    width: 235px;
    height: 235px;
    top: 107px;
    right: 171px;
}

.feedback-user img:nth-child(2) {
    position: absolute;
    width: 92px;
    height: 92px;
    top: 0;
    right: 443px;
}

.feedback-user img:nth-child(3) {
    position: absolute;
    width: 78px;
    height: 78px;
    top: 258px;
    left: 0;
}

.feedback-user img:nth-child(4) {
    position: absolute;
    width: 78px;
    height: 78px;
    left: 212px;
    bottom: 0;
}

.feedback-user img:nth-child(5) {
    position: absolute;
    width: 78px;
    height: 78px;
    right: 32px;
    bottom: 29px;
}

.feedback-user img:nth-child(6) {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 19px;
    right: 0;
}

/* =============== Admit =============== */
.admit {
    background: #DEF6F5;
    padding: 76px 0 88px;
}

.admit .body {
    display: flex;
    gap: 410px;
}

.admit .info .heading {
    margin-bottom: 18px;
}

.admit .info .desc {
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--desc-color);
}