* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1EBFC1;
    --white-color: #FFF;
    --black-color: #000;
    --head-color: #0D1111;
    --desc-color: #767E7E;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* =============== Common =============== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 0 16px;
    line-height: 68px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 14px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.heading {
    font-weight: 700;
    color: var(--head-color);
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    word-break: break-all;
}

/* =============== Header =============== */
.header {
    background: var(--white-color);
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 0 8px;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 20px;
    font-size: 1.6rem;
    color: #2F3A3B;
}

.header .action-link:hover,
.nav a:hover,
.nav li.active a {
    color: #2F3A3B;
    text-shadow: 1px 0 0 currentColor;
}

.header .action-link {
    font-size: 1.6rem;
    color: #494949;
}

.header .sign-up-btn {
    min-width: 108px;
    margin-left: 24px;
    font-size: 1.6rem;
    line-height: 48px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--white-color);
}

.header .sign-up-btn:hover {
    color: var(--white-color);
    background: var(--primary-color);
}

/* =============== Hero =============== */
.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

/* Hero left */
.hero .content-block {
    width: 46%;
    padding: 93px 71px 0 0;
}

.hero .content-block .label {
    font-size: 1.4rem;
    color: var(--desc-color);
}

.hero .content-block .heading {
    margin-top: 18px;
}

.hero .content-block .desc {
    margin-top: 46px;
    max-width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9DA6A5;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .watch-video {
    display: flex;
    margin-left: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

/* Hero right */
.hero .meadia-block {
    position: relative;
    width: 54%;
    display: flex;
    margin-left: auto;
}

.hero .meadia-block .img-hero {
    width: 576px;
    height: 631px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: auto;
}

.hero .meadia-block .courses {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 149px;
    left: 12px;
    padding: 18px 25px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .courses .img-book {
    margin-right: 16px;
}

.hero .courses .title {
    color: var(--head-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

.hero .meadia-block .schedules {
    position: absolute;
    bottom: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
    width: 124px;
    height: 132px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: var(--white-color);
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .schedules .title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--head-color);
}

.hero .meadia-block .avatar-block {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    background: #FEFEFD;
    border-radius: 24px;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .avatar-block .title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--head-color);
}

.hero .avatar-block .avatar-group {
    display: flex;
    margin-top: 8px;
}

.hero .avatar-group .avatar:first-child {
    margin-left: 0;
}

.hero .avatar-group .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    object-fit: cover;
    margin-left: -8px;
    border-radius: 50%;
    /* avatar default */
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    color: var(--white-color);
}

/* =============== Features =============== */
.features {
    margin-top: 130px;
}

.features .sub-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 3px;
    color: var(--desc-color);
}

.features .feature-top {
    width: 591px;
}

.features .feature-top .heading {
    margin: 18px 0;
}

.features .feature-top .desc {
    font-size: 1.8rem;
    line-height: normal;
    color: var(--desc-color);
}

.features .feature-list {
    display: flex;
    gap: 200px;
    margin-top: 80px;
}

.features .feature-item {
    max-width: 224px;
}

.feature-item .title {
    margin: 26px 0 16px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--head-color);
}

.feature-item .desc {
    color: #9DA6A5;
    font-size: 1.6rem;
    line-height: 1.69;
}